In [23]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pprint import pprint
import openweathermapy.core as owm
from citipy import citipy
import requests

# Import API key
from config import api_key

## Generate list of N random cities

In [81]:
# This n determines how many cities we generate
# We also initialize our lists to track the cities
n = 50
cities = []
country_codes = []

for x in range(n):
    lat = np.random.uniform(-90, 90)
    lng = np.random.uniform(-180, 180)
    city = citipy.nearest_city(lat, lng)
    
    # Make sure that the randomly generated city is not already in our series
    # If it is, regenerate the lat and lng until we get one that isn't
    while city.city_name in cities:
        lat = np.random.uniform(-90, 90)
        lng = np.random.uniform(-180, 180)
        city = citipy.nearest_city(lat, lng)
    
    # Add the data to our lists
    cities.append(city.city_name)
    country_codes.append(city.country_code)
    
country_codes = [x.upper() for x in country_codes]

## Perform Weather Check Using API Calls

In [63]:
# Create base URL and indicate imperial units
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

In [64]:
# Build partial query URL
query = f"{url}appid={api_key}&units={units}&q="

In [91]:
# Create an "extracts" object to get the temperature, humidity, cloudiness and wind speed
latitude = []
longitude = []
temperature = []
humidity = []
cloudiness = []
wind_speed = []
dates = []

for x in range(len(cities)):
    response = requests.get(f"{query}{cities[x]},{country_codes[x].upper()}").json()
    try:
        temperature.append(response['main']['temp_max'])
    except KeyError:
        temperature.append("NA")
    try:
        latitude.append(response['coord']['lat'])
    except KeyError:
        latitude.append("NA")
    try:
        longitude.append(response['coord']['lon'])
    except KeyError:
        longitude.append("NA")
    try:
        humidity.append(response['main']['humidity'])
    except KeyError:
        humidity.append("NA")
    try:
        cloudiness.append(response['clouds']['all'])
    except KeyError:
        cloudiness.append(0)
    try:
        wind_speed.append(response['wind']['speed'])
    except KeyError:
        wind_speed.append("NA")
    try:
        dates.append(response['dt'])
    except KeyError:
        dates.append("NA")


# Assemble everything into a data frame
weather_df = pd.DataFrame({"City": cities,
                           "Latitude": latitude,
                           "Longitude": longitude,
                           "Humidity": humidity,
                           "Max Temp": temperature,
                           "Cloudiness": cloudiness,
                           "Wind Speed": wind_speed,
                           "Date": dates,
                           "Country": country_codes
                          })

weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,hermanus,44,ZA,1526873601,86,-34.42,19.24,14.88,5.02
1,fortuna,90,US,1526871300,93,40.6,-124.16,12,5.1
2,ambon,68,ID,1526873601,99,-3.7,128.18,27.93,1.32
3,taolanaro,0,MG,NA,NA,NA,NA,NA,NA
4,punta arenas,0,CL,1526871600,80,-53.16,-70.91,4,7.2

In [92]:
weather_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,hermanus,44,ZA,1526873601,86,-34.42,19.24,14.88,5.02
1,fortuna,90,US,1526871300,93,40.6,-124.16,12,5.1
2,ambon,68,ID,1526873601,99,-3.7,128.18,27.93,1.32
3,taolanaro,0,MG,NA,NA,NA,NA,NA,NA
4,punta arenas,0,CL,1526871600,80,-53.16,-70.91,4,7.2
5,shache,92,CN,1526873601,100,38.42,77.24,9.83,3.77
6,rikitea,32,PF,1526873602,100,-23.12,-134.97,24.98,5.97
7,kapaa,75,US,1526871840,78,22.08,-159.32,26,8.2
8,tateyama,75,JP,1526868000,68,36.66,137.31,20,3.1
9,bluff,88,NZ,1526873602,100,-46.6,168.33,9.48,11.67
10,honiara,40,SB,1526871600,83,-9.43,159.96,29,4.1
11,mount isa,0,AU,1526869800,23,-20.73,139.49,23,6.7
12,avarua,75,CK,1526871600,78,-21.21,-159.78,27,4.1
13,ushuaia,75,AR,1526868000,80,-54.81,-68.31,4,6.07
14,hilo,90,US,1526871180,94,19.71,-155.08,23,4.1
15,illoqqortoormiut,0,GL,NA,NA,NA,NA,NA,NA
16,busselton,0,AU,1526873603,99,-33.64,115.35,19.48,7.77
17,mahebourg,75,MU,1526871600,88,-20.41,57.7,23,2.1
18,new norfolk,36,AU,1526873604,79,-42.78,147.06,10.08,8.67
19,provideniya,40,RU,1526871600,56,64.42,-173.23,6,4
20,cape town,75,ZA,1526871600,88,-33.93,18.42,17,7.7
21,vila franca do campo,40,PT,1526871600,72,37.72,-25.43,16,7.2
22,dawei,36,MM,1526873604,73,14.07,98.19,30.18,1.17
23,kitimat,90,CA,1526871600,58,54.02,-128.69,13,9.3
24,copiapo,32,CL,1526871600,76,-27.37,-70.33,14,2.1
25,khandyga,64,RU,1526873605,58,62.65,135.58,9.53,3.52
26,carahue,0,CL,1526873605,100,-38.71,-73.16,6.63,2.97
27,lebu,0,CL,1526873605,100,-37.62,-73.65,11.93,7.62
28,seymchan,68,RU,1526873605,44,62.93,152.39,11.63,3.02
29,ilulissat,24,GL,1526871000,74,69.22,-51.1,-2,1.5
30,ballina,0,AU,1526873606,100,-28.87,153.57,19.73,3.72
31,kutum,0,SD,1526873606,54,14.2,24.66,15.73,1.22
32,apple valley,1,US,1526871300,34,34.5,-117.19,25,2.6
33,pampas,8,PE,1526873606,100,-12.4,-74.87,-0.93,1.22
34,arraial do cabo,0,BR,1526873606,93,-22.97,-42.02,20.48,6.47
35,hofn,92,IS,1526873606,100,64.25,-15.21,6.08,13.47
36,albany,0,AU,1526873607,46,-35.02,117.88,19.83,4.82
37,port elizabeth,0,ZA,1526871600,87,-33.92,25.57,12,1
38,jamestown,100,SH,1526873530,100,-15.94,-5.72,21.63,6.72
39,arman,90,RU,1526871600,93,59.7,150.17,5,2
40,ramos arizpe,24,MX,1526873607,81,25.54,-100.95,20.58,1.77
41,mys shmidta,0,RU,NA,NA,NA,NA,NA,NA
42,cockburn town,56,BS,1526873607,92,24.03,-74.52,26.18,9.67
43,qaanaaq,0,GL,1526873608,83,77.48,-69.36,-7.73,2.77
44,kadoma,12,ZW,1526873608,96,-18.34,29.91,11.98,3.17
45,bengkulu,0,ID,NA,NA,NA,NA,NA,NA
46,castro,0,CL,1526873608,98,-42.48,-73.76,2.23,1.07
47,pitimbu,40,BR,1526871600,88,-7.47,-34.81,25,1.5
48,mocuba,8,MZ,1526873608,94,-16.84,36.99,16.53,1.17
49,hobart,32,AU,1526873405,69,-42.88,147.33,12.18,6.67